.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
}

li {
  list-style-type: none;
  padding: 1px;
}

.todo-list {
  width: 50vw;
}

.important {
  font-weight: bold;
  color: darkmagenta;
}
.completed{
  background-color: rgb(221, 197, 59);
}
